/*DEFAULT LOAD*/
.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: calc(var(--index-modal) * 2);
}

.ajax_load_box {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: var(--weight-bold);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
    border: 16px solid #e3e3e3;
    border-top: 16px solid var(--hover-color-green);
    border-radius: 50%;
    margin: auto;
    width: 80px;
    height: 80px;

    -webkit-animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
    margin-top: 15px;
    font-weight: var(--weight-strong);
}

/*AJAX RESPONSES MESSAGES*/

.ajax_response {
    position: fixed;
    padding: 20px 20px 0 0;
    z-index: 2000;

    top: 0;
    right: 0;
    width: 300px;
    max-width: 100%;
}

.ajax_response .message {
    color: #000;
    font-size: var(--font-small);
    font-weight: var(--weight-normal);
    overflow: hidden;
    border: none;
    flex-direction: row;

    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 15px 20px 15px;
    background: #333333;
    margin-bottom: 15px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    cursor: pointer;
}

.ajax_response .message:before {
    flex-basis: 0;
    margin: -5px 15px 0 0 !important;
    font-size: calc(var(--font-max) * 1.2);
    color: rgba(0, 0, 0, 0.5);
}

.ajax_response .message_time {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
}

.ajax_response .message.success {
    background: #fff;
    border: 2px solid green;
}

.ajax_response .message.info {
    /* background: var(--color-blue); */
    background: #fff;
    border: 2px solid blue;
}

.ajax_response .message.warning {
    /* background: var(--color-yellow); */
    background: #fff;
    border: 2px solid yellow;
}

.ajax_response .message.error {
    /* background: var(--color-red); */
    background: #fff;
    border: 2px solid red;
}