.cad-container {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .btn-add {
    background-color: green;
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.header .header-buttons .btn {
    background-color: #ddd;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.header .header-buttons .btn:hover {
    background-color: #ccc;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row label {
    margin-bottom: 5px;
}

.form-row input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row input[disabled] {
    background-color: #e9ecef;
}

.required {
    color: red;
}

.table-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table .table-relatorio-item,
table .table-relatorio-item td {
    border-color: transparent;
}