.telas-body {
    margin-top: 1%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    border-top: 2px solid #d1d8e0;
}

.container-telas {
    padding: 5%;    
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-gap: 15px;
    transition: all 0.3s ease-in-out;
}

.telas-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5%;
}

.telas-group input,
.telas-group select {
    height: 30px;
    font-size: 12px;
    padding: 4px 8px;
    box-sizing: border-box;
    width: 100%;
}

.telas-group.full-width {
    grid-column: span 12;
}

.telas-group.half-width {
    grid-column: span 6;
}

.telas-group.third-width {
    grid-column: span 4;
}

.telas-group.quarter-width {
    grid-column: span 3;
}

.telas-group .dual-width {
    grid-column: span 2;
}

label {
    font-weight: 600;
    margin-bottom: 2px;
    font-size: 15px;
    color: #555;
}

input,
select {
    padding: 10px 10px;
    border: 1px solid #ccd1d9;    
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f7f9fc;    
}


.checkbox-group {
    display: flex;
    align-items: center;
    grid-column: span 12;
    margin-bottom: 20px;
}

.checkbox-group label {
    font-size: 16px;
    margin-right: 10px;
    color: #444;
}

.btn-telas-danger,
.btn-telas-primary {
    color: #dc3545;
    border-color: #dc3545;
    background-color: transparent;
    width: 150px;
    border: solid 1px;
    padding: 12px;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: background-color 0.3s ease;
    text-align: center;
    border-radius: 5px;    
}

.btn-telas-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    text-decoration: none;
}

.btn-telas-danger:focus,
.btn-telas-danger:active,
.btn-telas-danger:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

.btn-telas-primary {
    color: #007bff;
    border-color: #007bff;
    background-color: transparent;
}

.btn-telas-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-telas-primary:focus,
.btn-telas-primary:active,
.btn-telas-primary:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}



@media(max-width: 768px) {
    .container-telas {
        grid-template-columns: repeat(6, 1fr);
        padding: 25px;
    }

    .telas-group {
        grid-column: span 6;
    }    
}

@media(max-width: 480px) {
    .container-telas {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
    }

    .telas-group {
        grid-column: span 2;
    }    
}

.display-right{
    width: fit-content;
    margin-left: auto;
}


/*** RELATÓRIOS ***/

.relatorios .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}

.relatorios .header-left {
    display: flex;
    align-items: center;
}

.relatorios .header-left h2 {
    margin: 0;
    font-size: 18px;
}

.relatorios .header-left nav {
    margin-left: 20px;
}

.relatorios .header-left nav a {
    text-decoration: none;
    color: #666;
    margin: 0 10px;
    font-size: 14px;
}

.relatorios .header-left nav .active {
    color: #3b82f6;
    font-weight: bold;
}

.relatorios .header-right {
    display: flex;
    align-items: center;
}

.relatorios .header-right span {
    margin-right: 15px;
    color: #666;
}

.relatorios .btn {
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.relatorios .create {
    background-color: #3b82f6;
    color: white;
}

.relatorios .automation {
    background-color: #ccc;
    color: black;
}

.relatorios .settings {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

/* Estilização dos filtros */
.relatorios .filters {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.relatorios .filters input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.relatorios .filter-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}

.relatorios .filter {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
}

.relatorios .filter.active {
    background-color: #3b82f6;
    color: white;
    border: none;
}

.relatorios .add-filter {
    background-color: #eee;
    border: none;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}